# Portfolio Optimization with the Mean-Variance Model <br> <br> Part 1: Data Retrieval

## DAX

In [116]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime

In [117]:
# Retrieve equity data of 40 DAX-listed companies as of 08/07/2025
dax_tickers = [
    "ADS.DE",    # Adidas
    "AIR.DE",    # Airbus
    "ALV.DE",    # Allianz
    "BAS.DE",    # BASF
    "BAYN.DE",   # Bayer
    "BEI.DE",    # Beiersdorf Vz.
    "BMW.DE",    # BMW St
    "BNR.DE",    # Brenntag
    "CBK.DE",    # Commerzbank
    "CON.DE",    # Continental
    "DTG.DE",    # Daimler Truck
    "DBK.DE",    # Deutsche Bank
    "DB1.DE",    # Deutsche Börse
    "DHL.DE",    # Deutsche Post DHL
    "DTE.DE",    # Deutsche Telekom
    "EOAN.DE",   # E.ON
    "FRE.DE",    # Fresenius
    "FME.DE",    # Fresenius Medical Care
    "HNR1.DE",   # Hannover Rück
    "HEI.DE",    # Heidelberg Materials
    "HEN3.DE",   # Henkel Vz
    "IFX.DE",    # Infineon
    "MBG.DE",    # Mercedes‑Benz Group
    "MRK.DE",    # Merck
    "MTX.DE",    # MTU Aero Engines
    "MUV2.DE",   # Münchener Rück
    "P911.DE",   # Porsche AG Vz
    "PAH3.DE",   # Porsche Automobil Holding
    "QIA.DE",    # Qiagen
    "RHM.DE",    # Rheinmetall
    "RWE.DE",    # RWE
    "SAP.DE",    # SAP
    "SRT3.DE",   # Sartorius Vz
    "SIE.DE",    # Siemens
    "ENR.DE",    # Siemens Energy
    "SHL.DE",    # Siemens Healthineers
    "SY1.DE",    # Symrise
    "VOW3.DE",   # Volkswagen Vz
    "VNA.DE",    # Vonovia
    "ZAL.DE",    # Zalando
    "^GDAXI"  # DAX Performance Index
]

# Date range
start_date = "2000-01-01"
end_date = "2025-07-08"

dax_data = {}
ticker_to_name = {}

# Loop over all tickers and get daily data
for ticker in dax_tickers:
    stock = yf.Ticker(ticker)
    info = stock.info
    name = ticker
    ticker_to_name[ticker] = name
    hist = stock.history(start=start_date, end=end_date, auto_adjust = True)
    if not hist.empty:
        dax_data[name] = hist

dax = pd.DataFrame({
    name: data["Close"] for name, data in dax_data.items()
})

In [118]:
dax

,ADS.DE,AIR.DE,ALV.DE,BAS.DE,BAYN.DE,BEI.DE,BMW.DE,BNR.DE,CBK.DE,CON.DE,...,SAP.DE,SRT3.DE,SIE.DE,ENR.DE,SHL.DE,SY1.DE,VOW3.DE,VNA.DE,ZAL.DE,^GDAXI
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03 00:00:00+01:00,13.259526,11.949659,120.473999,8.411567,22.440176,15.460056,12.769396,NaN,222.594788,9.821296,...,25.963295,1.093550,48.254261,NaN,NaN,NaN,10.754249,NaN,NaN,6750.759766
2000-01-04 00:00:00+01:00,12.792091,11.949659,120.473999,8.173350,21.534952,16.466600,12.254111,NaN,217.742569,9.444523,...,24.730701,1.069777,46.304543,NaN,NaN,NaN,10.274758,NaN,NaN,6586.950195
2000-01-05 00:00:00+01:00,12.488791,11.949659,119.904816,7.861199,20.963232,14.843138,12.011630,NaN,211.677277,9.444523,...,21.746231,1.014307,44.737747,NaN,NaN,NaN,10.343256,NaN,NaN,6502.069824
2000-01-06 00:00:00+01:00,13.024025,11.949659,124.837646,7.890773,21.034689,15.214223,11.972659,NaN,214.709930,9.821296,...,22.451694,1.014307,44.190739,NaN,NaN,NaN,10.565877,NaN,NaN,6474.919922
2000-01-07 00:00:00+01:00,12.845614,11.949659,128.309570,8.214423,21.911331,15.536594,11.951011,NaN,221.684998,9.570115,...,27.222126,1.030155,45.968517,NaN,NaN,NaN,10.833022,NaN,NaN,6780.959961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-07-01 00:00:00+02:00,206.199997,172.399994,342.799988,42.080002,26.459999,107.900002,75.300003,56.599998,26.700001,74.300003,...,255.600006,218.899994,215.649994,92.379997,46.919998,90.959999,89.260002,30.230000,29.080000,23673.289062
2025-07-02 00:00:00+02:00,208.300003,175.240005,340.500000,43.139999,26.355000,107.849998,79.080002,57.439999,27.510000,75.040001,...,253.100006,223.899994,219.500000,91.620003,47.419998,91.620003,90.940002,29.370001,28.379999,23790.109375
2025-07-03 00:00:00+02:00,207.500000,176.740005,343.899994,42.200001,26.049999,108.150002,78.339996,56.959999,28.180000,75.320000,...,258.200012,220.000000,221.300003,92.540001,46.930000,91.680000,91.099998,29.370001,28.280001,23934.130859
2025-07-04 00:00:00+02:00,205.300003,175.119995,341.700012,41.680000,26.195000,107.949997,77.839996,55.779999,28.090000,75.019997,...,255.500000,219.100006,216.000000,92.559998,46.730000,91.160004,90.019997,28.950001,28.090000,23787.449219
2025-07-07 00:00:00+02:00,209.300003,177.279999,349.600006,41.340000,26.150000,108.199997,78.059998,55.160000,28.610001,75.000000,...,261.149994,216.800003,218.350006,94.940002,46.599998,90.800003,90.120003,28.680000,28.129999,24073.669922

In [119]:
# Check data type 
dax.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6521 entries, 2000-01-03 00:00:00+01:00 to 2025-07-07 00:00:00+02:00
Data columns (total 41 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ADS.DE   6521 non-null   float64
 1   AIR.DE   6521 non-null   float64
 2   ALV.DE   6521 non-null   float64
 3   BAS.DE   6521 non-null   float64
 4   BAYN.DE  6521 non-null   float64
 5   BEI.DE   6521 non-null   float64
 6   BMW.DE   6521 non-null   float64
 7   BNR.DE   3881 non-null   float64
 8   CBK.DE   6521 non-null   float64
 9   CON.DE   6521 non-null   float64
 10  DTG.DE   910 non-null    float64
 11  DBK.DE   6521 non-null   float64
 12  DB1.DE   6236 non-null   float64
 13  DHL.DE   6241 non-null   float64
 14  DTE.DE   6521 non-null   float64
 15  EOAN.DE  6521 non-null   float64
 16  FRE.DE   6521 non-null   float64
 17  FME.DE   6521 non-null   float64
 18  HNR1.DE  6311 non-null   float64
 19  HEI.DE   6521 non-null   float64
 20  HEN3.DE  6520 non-null   float64
 21  IFX.DE   6471 non-null   float64
 22  MBG.DE   6521 non-null   float64
 23  MRK.DE   6521 non-null   float64
 24  MTX.DE   5106 non-null   float64
 25  MUV2.DE  6521 non-null   float64
 26  P911.DE  704 non-null    float64
 27  PAH3.DE  4177 non-null   float64
 28  QIA.DE   6521 non-null   float64
 29  RHM.DE   6521 non-null   float64
 30  RWE.DE   6521 non-null   float64
 31  SAP.DE   6521 non-null   float64
 32  SRT3.DE  6521 non-null   float64
 33  SIE.DE   6521 non-null   float64
 34  ENR.DE   1216 non-null   float64
 35  SHL.DE   1838 non-null   float64
 36  SY1.DE   4714 non-null   float64
 37  VOW3.DE  6521 non-null   float64
 38  VNA.DE   3043 non-null   float64
 39  ZAL.DE   2733 non-null   float64
 40  ^GDAXI   6478 non-null   float64
dtypes: float64(41)
memory usage: 2.1 MB

In [120]:
# check missing values
dax.isna().sum()

ADS.DE        0
AIR.DE        0
ALV.DE        0
BAS.DE        0
BAYN.DE       0
BEI.DE        0
BMW.DE        0
BNR.DE     2640
CBK.DE        0
CON.DE        0
DTG.DE     5611
DBK.DE        0
DB1.DE      285
DHL.DE      280
DTE.DE        0
EOAN.DE       0
FRE.DE        0
FME.DE        0
HNR1.DE     210
HEI.DE        0
HEN3.DE       1
IFX.DE       50
MBG.DE        0
MRK.DE        0
MTX.DE     1415
MUV2.DE       0
P911.DE    5817
PAH3.DE    2344
QIA.DE        0
RHM.DE        0
RWE.DE        0
SAP.DE        0
SRT3.DE       0
SIE.DE        0
ENR.DE     5305
SHL.DE     4683
SY1.DE     1807
VOW3.DE       0
VNA.DE     3478
ZAL.DE     3788
^GDAXI       43
dtype: int64

## MDAX

In [122]:
# retrieve 40 MDAX-listed companies as of 08/07/2025
mdax_tickers = [
    "AIXA.DE",    # Aixtron
    "AT1.DE",     # Aroundtown
    "NDA.DE",     # Aurubis
    "AG1.DE",     # AUTO1 Group
    "BC8.DE",     # Bechtle
    "GBF.DE",     # Bilfinger
    "AFX.DE",     # Carl Zeiss Meditec
    "EVD.DE",     # CTS Eventim
    "DHER.DE",    # Delivery Hero
    "DWNI.DE",    # Deutsche Wohnen
    "DWS.DE",     # DWS Group
    "EVK.DE",     # Evonik Industries
    "EVT.DE",     # Evotec 
    "FTK.DE",     # Flatexdegiro
    "FRA.DE",     # Fraport
    "FNTN.DE",    # Freenet
    "FPE3.DE",    # Fuchs SE Vz
    "G1A.DE",     # GEA Group
    "GXI.DE",     # Gerresheimer 
    "HLE.DE",     # Hella
    "HFG.DE",     # HelloFresh 
    "HAG.DE",     # Hensoldt
    "HOT.DE",     # Hochtief
    "BOSS.DE",    # Hugo Boss
    "IOS.DE",     # IONOS Group SE
    "JUN3.DE",    # Jungheinrich Vz
    "SDF.DE",     # K+S
    "KGX.DE",     # Kion Group
    "KBX.DE",     # Knorr-Bremse
    "KRN.DE",     # Krones
    "LXS.DE",     # Lanxess
    "LEG.DE",     # LEG Immobilien
    "LHA.DE",     # Lufthansa
    "NEM.DE",     # Nemetschek
    "NDX1.DE",    # Nordex
    "PUM.DE",     # Puma
    "RAA.DE",     # Rational
    "RDC.DE",     # Redcare Pharmacy
    "R3NK.DE",    # RENK Group
    "RRTL.DE",    # RTL Group
    "G24.DE",     # Scout24
    "SAX.DE",     # Ströer
    "TEG.DE",     # TAG Immobilien
    "TLX.DE",     # Talanx
    "TMV.DE",     # TeamViewer
    "TKA.DE",     # ThyssenKrupp
    "8TRA.DE",    # Traton
    "TUI1.DE",    # TUI
    "UTDI.DE",    # United Internet
    "WCH.DE"      # Wacker Chemie
]

mdax_data = {}
ticker_to_name_mdax = {}

for ticker in mdax_tickers:
    stock = yf.Ticker(ticker)
    info = stock.info
    name = ticker
    ticker_to_name_mdax[ticker] = name
    hist = stock.history(start=start_date, end=end_date, auto_adjust = True)
    if not hist.empty:
        mdax_data[name] = hist

mdax = pd.DataFrame({
    name: data["Close"] for name, data in mdax_data.items()
})

In [123]:
mdax

,AIXA.DE,AT1.DE,NDA.DE,AG1.DE,BC8.DE,GBF.DE,AFX.DE,EVD.DE,DHER.DE,DWNI.DE,...,G24.DE,SAX.DE,TEG.DE,TLX.DE,TMV.DE,TKA.DE,8TRA.DE,TUI1.DE,UTDI.DE,WCH.DE
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03 00:00:00+01:00,57.089828,NaN,4.646462,NaN,NaN,6.672561,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17.745153,NaN,80.422607,NaN,NaN
2000-01-04 00:00:00+01:00,59.578598,NaN,4.650973,NaN,NaN,6.431509,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.451429,NaN,80.422607,NaN,NaN
2000-01-05 00:00:00+01:00,57.043346,NaN,4.669018,NaN,NaN,6.497886,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.775141,NaN,81.269173,NaN,NaN
2000-01-06 00:00:00+01:00,56.113750,NaN,4.691572,NaN,NaN,6.428017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19.716839,NaN,81.607788,NaN,NaN
2000-01-07 00:00:00+01:00,54.846127,NaN,4.623907,NaN,NaN,6.480418,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19.746265,NaN,84.285988,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-07-01 00:00:00+02:00,15.670000,3.116,88.000000,26.299999,39.180000,78.599998,56.450001,104.199997,23.959999,24.450001,...,116.800003,51.200001,15.20,109.500000,9.485,8.524000,27.719999,7.706000,23.900000,62.000000
2025-07-02 00:00:00+02:00,16.219999,3.030,88.750000,26.680000,38.540001,78.449997,56.599998,103.400002,23.770000,23.850000,...,113.400002,50.799999,14.62,107.599998,9.435,9.278000,28.400000,7.646000,23.620001,66.099998
2025-07-03 00:00:00+02:00,16.590000,3.044,88.150002,26.680000,38.119999,81.599998,53.849998,102.500000,23.670000,23.900000,...,116.699997,50.299999,14.63,108.400002,9.670,9.080000,28.320000,7.620000,23.740000,64.099998
2025-07-04 00:00:00+02:00,16.430000,3.014,86.849998,26.459999,37.720001,83.949997,53.599998,102.400002,22.980000,23.700001,...,115.000000,49.750000,14.51,108.800003,9.650,9.206000,28.100000,7.512000,24.200001,64.150002
2025-07-07 00:00:00+02:00,15.975000,2.976,87.000000,27.980000,37.560001,91.449997,52.400002,106.000000,23.170000,23.549999,...,117.699997,50.299999,14.39,110.900002,9.590,9.868000,28.760000,7.576000,24.340000,63.150002

In [124]:
mdax.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6521 entries, 2000-01-03 00:00:00+01:00 to 2025-07-07 00:00:00+02:00
Data columns (total 50 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AIXA.DE  6521 non-null   float64
 1   AT1.DE   2318 non-null   float64
 2   NDA.DE   6521 non-null   float64
 3   AG1.DE   1126 non-null   float64
 4   BC8.DE   6506 non-null   float64
 5   GBF.DE   6521 non-null   float64
 6   AFX.DE   6464 non-null   float64
 7   EVD.DE   6499 non-null   float64
 8   DHER.DE  2037 non-null   float64
 9   DWNI.DE  4829 non-null   float64
 10  DWS.DE   1846 non-null   float64
 11  EVK.DE   3046 non-null   float64
 12  EVT.DE   6521 non-null   float64
 13  FTK.DE   3790 non-null   float64
 14  FRA.DE   6146 non-null   float64
 15  FNTN.DE  6512 non-null   float64
 16  FPE3.DE  6521 non-null   float64
 17  G1A.DE   6521 non-null   float64
 18  GXI.DE   4591 non-null   float64
 19  HLE.DE   2705 non-null   float64
 20  HFG.DE   1948 non-null   float64
 21  HAG.DE   1218 non-null   float64
 22  HOT.DE   6521 non-null   float64
 23  BOSS.DE  6521 non-null   float64
 24  IOS.DE   612 non-null    float64
 25  JUN3.DE  6521 non-null   float64
 26  SDF.DE   6521 non-null   float64
 27  KGX.DE   3046 non-null   float64
 28  KBX.DE   1709 non-null   float64
 29  KRN.DE   6521 non-null   float64
 30  LXS.DE   6521 non-null   float64
 31  LEG.DE   3046 non-null   float64
 32  LHA.DE   6521 non-null   float64
 33  NEM.DE   6521 non-null   float64
 34  NDX1.DE  6193 non-null   float64
 35  PUM.DE   6521 non-null   float64
 36  RAA.DE   6476 non-null   float64
 37  RDC.DE   2009 non-null   float64
 38  R3NK.DE  358 non-null    float64
 39  RRTL.DE  4489 non-null   float64
 40  G24.DE   2482 non-null   float64
 41  SAX.DE   3801 non-null   float64
 42  TEG.DE   6321 non-null   float64
 43  TLX.DE   3235 non-null   float64
 44  TMV.DE   1470 non-null   float64
 45  TKA.DE   6521 non-null   float64
 46  8TRA.DE  1532 non-null   float64
 47  TUI1.DE  6521 non-null   float64
 48  UTDI.DE  6512 non-null   float64
 49  WCH.DE   4886 non-null   float64
dtypes: float64(50)
memory usage: 2.5 MB

In [125]:
mdax.isna().sum()

AIXA.DE       0
AT1.DE     4203
NDA.DE        0
AG1.DE     5395
BC8.DE       15
GBF.DE        0
AFX.DE       57
EVD.DE       22
DHER.DE    4484
DWNI.DE    1692
DWS.DE     4675
EVK.DE     3475
EVT.DE        0
FTK.DE     2731
FRA.DE      375
FNTN.DE       9
FPE3.DE       0
G1A.DE        0
GXI.DE     1930
HLE.DE     3816
HFG.DE     4573
HAG.DE     5303
HOT.DE        0
BOSS.DE       0
IOS.DE     5909
JUN3.DE       0
SDF.DE        0
KGX.DE     3475
KBX.DE     4812
KRN.DE        0
LXS.DE        0
LEG.DE     3475
LHA.DE        0
NEM.DE        0
NDX1.DE     328
PUM.DE        0
RAA.DE       45
RDC.DE     4512
R3NK.DE    6163
RRTL.DE    2032
G24.DE     4039
SAX.DE     2720
TEG.DE      200
TLX.DE     3286
TMV.DE     5051
TKA.DE        0
8TRA.DE    4989
TUI1.DE       0
UTDI.DE       9
WCH.DE     1635
dtype: int64

## SDAX

In [127]:
# retrieve 70 SDAX-listed companies
sdax_tickers = [
    "1U1.DE",    # 1&1 Drillisch
    "ADN1.DE",   # Adesso
    "ADV.DE",    # ADVA Optical Networking 
    "ACT.DE",    # Alzchem 
    "AAD.DE",  # Amadeus FiRe
    "AOF.DE",  # Atoss Software 
    "BFSA.DE",   # Befesa
    "BVB.DE",    # Borussia Dortmund
    "COK.DE",    # Cancom
    "CEC.DE",    # Ceconomy St
    "CWC.DE",   # Cewe Stiftung
    "DMP.DE",    # Dermapharm Holding
    "DBAN.DE",   # Deutsche Beteiligungs
    "DEQ.DE",    # Deutsche EuroShop
    "PBB.DE",    # Deutsche Pfandbriefbank
    "DEZ.DE",    # Deutz
    "DOU.DE",   # Douglas AG
    "DRW3.DE",   # Drägerwerk Vz
    "DUE.DE",    # Dürr
    "EUZ.DE",    # Eckert&Ziegler
    "ELG.DE",    # Elmos Semiconductor
    "EKT.DE",    # Energiekontor
    "FIE.DE",    # Fielmann
    "FYB.DE",    # Formycon
    "VH2.DE",     # Friedrich Vorwerk Group
    "GFT.DE",    # GFT Technologies
    "GYC.DE",    # Grand City Properties
    "GLJ.DE",    # Grenke
    "HAB.DE",    # Hamborner REIT
    "HDD.DE",    # Heidelberg Druckmaschinen 
    "HBH.DE",    # Hornbach Holding
    "HYQ.DE",    # Hypoport
    "INH.DE",    # Indus Holding
    "JEN.DE",    # Jenoptik
    "JST.DE",    # JOST Werke
    "KCO.DE",    # Klöckner
    "KTN.DE",    # Kontron
    "KSB.DE",    # KSB Vz
    "KWS.DE",    # KWS Saat
    "LPK.DE",    # LPKF Laser
    "MBB.DE",    # MBB
    "ILM1.DE",   # Medios 
    "MLP.DE",    # MLP
    "MUX.DE",    # Mutares 
    "NA9.DE",    # Nagarro SE
    "NOEJ.DE",   # Norma Group
    "PAT.DE",    # Patrizia SE
    "PCZ.DE",    # ProCredit Holding
    "PSM.DE",    # ProSiebenSat.1
    "TPE.DE",    # PVA TePla
    "SFQ.DE",    # SAF-Holland
    "SZG.DE",    # Salzgitter
    "SHA0.DE",    # Schaeffler
    "1SXP.DE",   # Schott Pharma (check SPOT.DE)
    "YSN.DE",    # Secunet Security Networks
    "F3C.DE",    # SFC Energy
    "SGL.DE",    # SGL Carbon
    "WAF.DE",    # Siltronic
    "SIX2.DE",   # Sixt St
    "S92.DE",    # SMA Solar Technology (S92.DE)
    "SPG.DE",    # Springer Nature
    "STM.DE",    # Stabilus
    "STO3.DE",   # Sto Vz
    "SBS.DE",    # Stratec SE
    "SMHN.DE",   # Suess MicroTec
    "SZU.DE",    # Südzucker
    "NCH2.DE",   # thyssenkrupp nucera AG
    "VBK.DE",    # Verbio Vereinigte Bioenergie
    "VOS.DE",    # Vossloh
    "WAC.DE",    # Wacker Neuson
    "WUW.DE",    # Wüstenrot & Württembergische
]

sdax_data = {}
ticker_to_name_sdax = {}

for ticker in sdax_tickers:
    stock = yf.Ticker(ticker)
    info = stock.info
    name = ticker
    ticker_to_name_sdax[ticker] = name
    hist = stock.history(start=start_date, end=end_date, auto_adjust = True)
    if not hist.empty:
        sdax_data[name] = hist

sdax = pd.DataFrame({
    name: data["Close"] for name, data in sdax_data.items()
})

sdax

,1U1.DE,ADN1.DE,ADV.DE,ACT.DE,AAD.DE,AOF.DE,BFSA.DE,BVB.DE,COK.DE,CEC.DE,...,STM.DE,STO3.DE,SBS.DE,SMHN.DE,SZU.DE,NCH2.DE,VBK.DE,VOS.DE,WAC.DE,WUW.DE
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03 00:00:00+01:00,3.961615,NaN,29.250000,NaN,3.360290,0.410675,NaN,NaN,2.212861,2.868430,...,NaN,8.422265,NaN,16.809843,5.544332,NaN,NaN,7.742491,NaN,11.582198
2000-01-04 00:00:00+01:00,4.017807,NaN,31.703751,NaN,3.621285,0.410675,NaN,NaN,2.441363,2.718025,...,NaN,9.064321,NaN,17.878679,5.544332,NaN,NaN,7.873718,NaN,11.406706
2000-01-05 00:00:00+01:00,3.961615,NaN,33.288124,NaN,3.523412,0.410675,NaN,NaN,2.573653,2.602536,...,NaN,9.083204,NaN,16.518343,5.663566,NaN,NaN,7.348804,NaN,11.582198
2000-01-06 00:00:00+01:00,3.877324,NaN,34.027504,NaN,3.376603,0.410675,NaN,NaN,3.247133,2.639599,...,NaN,9.083204,NaN,15.546676,5.425098,NaN,NaN,7.453785,NaN,11.582198
2000-01-07 00:00:00+01:00,3.877324,NaN,34.125000,NaN,3.582135,0.410675,NaN,NaN,3.126869,2.653565,...,NaN,9.177625,NaN,16.770977,5.444973,NaN,NaN,7.401296,NaN,11.582198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-07-01 00:00:00+02:00,18.680000,88.500000,20.400000,138.000000,80.400002,141.600006,27.600000,3.820015,27.799999,3.685000,...,27.350000,118.800003,27.000000,45.060001,10.975326,9.725,12.89,82.000000,23.500000,13.920000
2025-07-02 00:00:00+02:00,18.600000,90.099998,20.400000,133.000000,81.000000,137.199997,27.760000,3.849475,27.400000,3.730000,...,28.450001,119.199997,27.049999,43.680000,11.043922,9.850,13.18,81.900002,23.700001,13.760000
2025-07-03 00:00:00+02:00,18.639999,90.000000,20.400000,135.800003,79.699997,138.800003,28.120001,3.839655,27.299999,3.760000,...,27.850000,120.199997,26.950001,43.459999,11.063520,9.900,13.22,82.900002,23.400000,13.760000
2025-07-04 00:00:00+02:00,18.580000,84.000000,20.400000,137.800003,78.000000,139.800003,28.200001,3.805285,26.400000,3.775000,...,27.299999,119.599998,26.850000,43.540001,10.965527,9.850,12.84,84.000000,23.299999,13.680000
2025-07-07 00:00:00+02:00,18.580000,82.800003,20.500000,148.000000,78.099998,142.199997,28.680000,3.721814,27.100000,3.800000,...,26.950001,117.800003,26.500000,42.480000,10.857733,9.995,12.82,86.199997,23.750000,13.600000

In [151]:
sdax.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6521 entries, 2000-01-03 00:00:00+01:00 to 2025-07-07 00:00:00+02:00
Data columns (total 71 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   1U1.DE   6521 non-null   float64
 1   ADN1.DE  6399 non-null   float64
 2   ADV.DE   6521 non-null   float64
 3   ACT.DE   5318 non-null   float64
 4   AAD.DE   6521 non-null   float64
 5   AOF.DE   6521 non-null   float64
 6   BFSA.DE  1909 non-null   float64
 7   BVB.DE   6305 non-null   float64
 8   COK.DE   6521 non-null   float64
 9   CEC.DE   6521 non-null   float64
 10  CWC.DE   6521 non-null   float64
 11  DMP.DE   1838 non-null   float64
 12  DBAN.DE  6521 non-null   float64
 13  DEQ.DE   6259 non-null   float64
 14  PBB.DE   2537 non-null   float64
 15  DEZ.DE   6521 non-null   float64
 16  DOU.DE   326 non-null    float64
 17  DRW3.DE  6521 non-null   float64
 18  DUE.DE   6521 non-null   float64
 19  EUZ.DE   6521 non-null   float64
 20  ELG.DE   6521 non-null   float64
 21  EKT.DE   6418 non-null   float64
 22  FIE.DE   6322 non-null   float64
 23  FYB.DE   3684 non-null   float64
 24  VH2.DE   1092 non-null   float64
 25  GFT.DE   6521 non-null   float64
 26  GYC.DE   2690 non-null   float64
 27  GLJ.DE   6455 non-null   float64
 28  HAB.DE   6521 non-null   float64
 29  HDD.DE   6521 non-null   float64
 30  HBH.DE   4450 non-null   float64
 31  HYQ.DE   4491 non-null   float64
 32  INH.DE   6521 non-null   float64
 33  JEN.DE   6521 non-null   float64
 34  JST.DE   2023 non-null   float64
 35  KCO.DE   4832 non-null   float64
 36  KTN.DE   6291 non-null   float64
 37  KSB.DE   6521 non-null   float64
 38  KWS.DE   6372 non-null   float64
 39  LPK.DE   6521 non-null   float64
 40  MBB.DE   4868 non-null   float64
 41  ILM1.DE  4450 non-null   float64
 42  MLP.DE   6521 non-null   float64
 43  MUX.DE   4338 non-null   float64
 44  NA9.DE   1159 non-null   float64
 45  NOEJ.DE  3612 non-null   float64
 46  PAT.DE   4892 non-null   float64
 47  PCZ.DE   2169 non-null   float64
 48  PSM.DE   6161 non-null   float64
 49  TPE.DE   6521 non-null   float64
 50  SFQ.DE   4558 non-null   float64
 51  SZG.DE   6521 non-null   float64
 52  SHA0.DE  2475 non-null   float64
 53  1SXP.DE  449 non-null    float64
 54  YSN.DE   6521 non-null   float64
 55  F3C.DE   4867 non-null   float64
 56  SGL.DE   6521 non-null   float64
 57  WAF.DE   2562 non-null   float64
 58  SIX2.DE  6521 non-null   float64
 59  S92.DE   4287 non-null   float64
 60  SPG.DE   189 non-null    float64
 61  STM.DE   2318 non-null   float64
 62  STO3.DE  6521 non-null   float64
 63  SBS.DE   6402 non-null   float64
 64  SMHN.DE  6521 non-null   float64
 65  SZU.DE   6521 non-null   float64
 66  NCH2.DE  508 non-null    float64
 67  VBK.DE   4754 non-null   float64
 68  VOS.DE   6521 non-null   float64
 69  WAC.DE   4609 non-null   float64
 70  WUW.DE   6521 non-null   float64
dtypes: float64(71)
memory usage: 3.6 MB

In [153]:
sdax.isna().sum()

1U1.DE        0
ADN1.DE     122
ADV.DE        0
ACT.DE     1203
AAD.DE        0
           ...
NCH2.DE    6013
VBK.DE     1767
VOS.DE        0
WAC.DE     1912
WUW.DE        0
Length: 71, dtype: int64

## Final Dataset

In [129]:
# final dataset for portfolio construction 
df = pd.concat([dax, mdax, sdax], axis=1)
df = df.dropna(axis=1).drop(['AIR.DE','AOF.DE','HAB.DE','LXS.DE'], axis = 1)
df.columns = df.columns.str.replace(r"\.DE$", "", regex=True)
df.index = pd.to_datetime(df.index, format = '%m/%d/%Y').strftime('%Y-%m-%d')

In [147]:
#df.to_csv('./stock prices.csv', decimal = ',')

In [145]:
# dataset for only the DAX Performance Index (for performance evaluation)
dax_idx = dax['^GDAXI'].to_frame()
dax_idx.index = pd.to_datetime(dax_idx.index, format = '%m/%d/%Y').strftime('%Y-%m-%d') 
dax_idx

                  ^GDAXI
Date
2000-01-03   6750.759766
2000-01-04   6586.950195
2000-01-05   6502.069824
2000-01-06   6474.919922
2000-01-07   6780.959961
...                  ...
2025-07-01  23673.289062
2025-07-02  23790.109375
2025-07-03  23934.130859
2025-07-04  23787.449219
2025-07-07  24073.669922

[6521 rows x 1 columns]

In [149]:
#dax_idx.to_excel('dax index.xlsx')